/* Універсальний селектор - застосовується до усіх елементів сайту */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

/* Селектор по тегу */
a {
  text-decoration: none;
}

/* Селектор класу */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  margin: 0 0 26px 0;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 90vh;
  text-align: center;
}

.header {
  padding-top: 50px;
  min-height: 100vh;
  max-width: 100vw;
  /* задає колір фону */
  background-color: rgb(9, 61, 3);

  /* дозволяє вказати фону зображення по url */
  background-image: url(../images/christmas.png), 
                    url(../images/christmas.png), 
                    url(../images/bg-header.jpg);
  
  /* визначає розміри фонового зображення в контейнері, використовує абсолютні (px), 
     відносні одиниці(%) і ключові слова (cover, contain). */
  background-size: 100%;
  background-size: contain;
  background-size: 200px;
  background-size: 300px, 200px, cover, cover; 
  

  /* Усталено заповнює фон копіями background-image. 
     Можна заборонити повторення або вказати напрям (горизонталь, вертикаль) для повторення. */
  background-repeat: repeat;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-repeat: no-repeat;

  /* вказує положення зображення відносно меж блоку */
  background-position: left center;
  background-position: left bottom;
  background-position: right bottom;
  background-position: 200px 200px;
  background-position: center bottom, 10% bottom, center center;

  /* background: url(../images/christmas.png) no-repeat center bottom,
              url(../images/christmas.png) no-repeat 10% bottom,
              url(../images/bg-header.jpg) rgb(9, 61, 3) no-repeat center;
              background-size: 300px, 200px, cover; */
}

.bg-box{
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 30px auto;
  border: 10px dashed greenyellow;
  background-color: yellow;
  background-clip: border-box;
  background-clip: padding-box;
  background-clip: content-box;
}

.bg-box__inner{
  font-size: 32px;
  height: 100px;
  width: 100px;
  margin: 0 auto  ;
  background-color: rgb(67, 94, 247);
  background-color: rgba(67, 94, 247, .5);
  background-color: #d31515;
  /* opacity: .5; */
}

.gradient{
  height: 100vh;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
  background: radial-gradient(ellipse at center, #FFE53B, #FF2525) no-repeat center,
                    linear-gradient(45deg, #d31515 10%, #18c2c2 45%, yellow);
}
