/* Універсальний селектор - застосовується до усіх елементів сайту */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
}

/* Селектор по тегу */
a {
  color: green;
  text-decoration: none;
}

button {
  width: 100px;
  height: 60px;
  background-color: gray;
  border: 2px solid coral;
}

/* Селектор класу */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
  border: 3px solid red;
}
.top-header {
}
.navigations {
}
.top-menu {
  list-style: none;
}

.menu-item {
}

.menu-item-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: rgb(246, 13, 13);
}

/* Список студентів групи */
.students-info {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: lightgrey;
}
.students-list {
  list-style: none;
}

.students-list_item {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  background-color: transparent;
  transition: 0.2s linear all;
}

.students-list_item:first-child {
  border-top: 1px solid #eee;
}

.students-list_item:hover {
  padding-left: 5px;
  background-color: rgb(195, 195, 195);
  /* box-shadow: 0px 10px 13px -7px #000000, 0px 2px 14px 1px rgba(0,0,0,0); */
}

.students-name {
  display: inline-block;
  margin-right: 26px;
  font-size: 36px;
  font-weight: bold;
  color: #222;
  cursor: pointer;
  transition: 0.2s linear all;
}

.send-mail {
  float: right;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: lightskyblue;
  color: white;
  margin-right: 10px;
  transition: 0.2s linear all;
  border: 1px solid lightskyblue;
}

.send-mail:hover {
  background-color: rgb(97, 184, 238);
  border-color: white;
  box-shadow: 0px 10px 13px -7px #000000, 0px 2px 14px 1px rgba(0, 0, 0, 0);
}

.girl:hover .students-name {
  color: orangered;
}

.boy:hover .students-name {
  color: rgb(48, 46, 168);
}

/* Селектор ідентифікатора (селектор по ID) */
.button-wrp {
  text-align: center;
}

.btn {
  border-color: rgb(124, 84, 84);
  color: white;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  width: 100%;
  max-width: 200px;
  background-color: #e45d22;
  transition: 0.2s all;
}

#sign_in:hover {
  background-color: #db7e57;
}

#sign_out:hover {
  background-color: #a84418;
}

/* Селектор нащадка */
.box-t {
  background-color: thistle;
}

.img-box {
  height: 100px;
}

.box-t * {
  color: #e45d22;
  font-size: 32px;
}

.box-t .img-box {
  background-color: rgb(161, 101, 101);
}

.button-wrp .img-box {
  background-color: pink;
}

/* Дочірній селектор */

.box-t > div {
  border: 1px solid red;
  margin: 5px;
}

/* Сестринський селектор */

.text-block p + p {
  background-color: yellow;
}

.text-block p + div {
  background-color: rgb(51, 51, 17);
}

div + p {
  color: red;
}

/* Селектор атрибуту */

*[data-item="1"] {
  background-color: springgreen;
}

a[href="mailto:test@test.ua"] {
  font-size: 20px;
  color: aqua;
}

/* Селектор псевдокласу */
.link-box2 {
  background-color: rgb(143, 139, 139);
}

.link-box2 a {
  display: inline-block;
  color: white;
  font-size: 20px;
  padding: 10px;
  border: 1px solid brown;
  transition: all 0.2s linear;
}

.box p:hover {
  background-color: rgb(124, 84, 84);
}

.link-box2 a:hover {
  background-color: brown;
}

.link-box2 a:visited {
  color: blueviolet;
}

.link-box2 a:active {
  background-color: coral;
}

.link-box2 a:focus {
  background-color: rgb(74, 172, 17);
}

/* ===================================================== */
/* Селектори */

* {
  /* Універсальний селектор */
}

div {
  /* Селектор елемента */
}

.box-1 {
  /* Селектор класу */
}

#sign_in {
  /* Селектор ідентифікатора */
}

.box-t * {
  /* Селектор нащадка */
  /* Будуть вибрані всі елементи в класі .box-t */
}

.box-t .img-box {
  /* Селектор нащадка */
}

div + p {
  /* Сестринський селектор */
}

[data-item="1"] {
  /* Селектор атрибуту  */
  background-color: rgb(172, 143, 143);
}

.link-box > a {
  /* Дочірній селектор */
}

/* ===================================================== */

/*Угрупування селекторів*/
.link-box2-text,
.box-text2,
#text-34 {
  font-size: 26px;
  background-color: yellow;
}

.box-text-3 {
  font-size: 32px;
  font-weight: 600;
  color: chartreuse;
}

.students-info div.specificity2.specificity#specificity {
  height: 200px;
  background-color: cornflowerblue !important;
}

.in-specificity {
  height: 100px;
  width: 200px;
  background-color: cyan;
}

.in-specificity {
  background-color: darkblue;
}

[data-item="1"] {
  /* Селектор по атрибуту */
}

p + a {
  /* Сестринський селектор */
}

.students-info {
  /* Селектор класу */
}

.box-t p {
  /* Селектор нащадка */
}

.box-t > div {
  /* Дочірній селектор */
}

#box {
  /* Селектор ідентифікатора */
}

* {
  /* Універсальний селектор */
}

div {
  /* Селектор елемента */
}

.btn:hover {
  /* Селектор псевдокласу */
}

/* Модель візуального форматування */

.title {
  text-align: center;
  background-color: brown;
}

.box-mr {
  background-color: #ccc;
}

.box-mr div {
  width: 300px;
  height: 200px;
  border: 1px solid blue;
  margin: 20px;
  padding: 15px;
  background-color: rgb(129, 124, 124);
}

.box-mr div:first-child {
  margin-right: auto;
}

.box-mr div:last-child {
  margin-top: 30px;
  margin-left: auto;
}

.box-sizing div {
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 10px solid red;
  background-color: coral;
  box-sizing: content-box;
  margin-bottom: 5px;
}

.box-sizing div:last-child {
  box-sizing: border-box;
}

/*Блокові та рядкові елементи*/

.block {
  margin-bottom: 20px;
}

.block-el .container {
  border: coral 2px solid;
}
.block-el .block {
  border: 2px solid red;
}
.block-el .block div {
  display: block;
  width: 300px;
  height: 40px;
  background-color: darkblue;
  color: #fff;
  text-align: center;
  margin: 0 auto 10px;
}

/* рядкові елементи */
.block-el .inline {
  border: 2px solid rgb(7, 97, 59);
}

.inline {
  font-size: 0;
  margin-bottom: 20px;
}
.inline a {
  width: 300px;
  height: 50px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  background-color: darkcyan;
  padding: 0 10px;
  margin: 10px;
}

/* Рядково-блокові елементи */
.inline-block {
  font-size: 0;
  border: 2px solid rgb(6, 4, 72);
  margin-bottom: 20px;
}
.inline-block a {
  display: inline-block;
  width: 300px;
  height: 50px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  background-color: rgb(5, 105, 92);
  padding: 10px;
  /* margin: 10px; */
}

/* Вирівнювання контенту */

/* Горизонтальне тексту, рядкових та рядково-блочних елементів*/
.text-al {
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgb(226, 224, 226);

  text-align: center;
  text-align: left;
  text-align: right;
  text-align: justify;
  text-align: inherit;
  text-align: initial;
}

.text-al span {
  background-color: #cff;
  padding: 0 10px;
}
.text-al span:nth-child(2) {
  font-size: 30px;
  line-height: 1.2;
}

.text-al-2 span {
  display: inline-block;
  width: 100px;
  height: 50px;
}

.text-al-2 span:first-child {
  height: 60px;
}

.text-al-2 span:nth-child(2) {
  font-size: 16px;
}

.text-al-2 span:last-child {
  height: 40px;
}

/* Вертикальне */
.text-al-2 span {
  vertical-align: top;
  vertical-align: super;
  vertical-align: sub;
  vertical-align: bottom;
  vertical-align: middle;
}

.text-al-2 span:nth-child(2) {
  /* vertical-align: sub; */
}

/* Горизонтальне блочного елемента з обмежиною шириною */
.box-al-block {
  display: block;
  height: 100px;
  max-width: 300px;
  background-color: rgb(231, 75, 13);
  color: white;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

.left {
  margin-right: auto;
}
.center {
  /* margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
}
.right {
  margin-left: auto;
}

.wrp-box {
  background-color: rgb(252, 248, 2);
}

/* Оформлення тексту */
.text-al-3 {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  font-family: "Verdana", sans-serif;
  text-decoration: line-through;
  color: #db0be8;
  line-height: 22px;
  text-indent: 50px;
}